{% extends 'base.html' %}


{% block title %} Home {% endblock title %}

{% block homeactive %} active {% endblock homeactive %}
{% block body %}


<class class="container">
<!-- News jumbotron -->

<div class="jumbotron text-center hoverable p-4 mx-3 mb-5  bg-dark text-white">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="https://source.unsplash.com/1600x900/?blog,computer" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-laptop" aria-hidden="true"></i> Computer Science </h6>
      </a>

      <h4 class="h4 mb-4">Welcome to Any.IT</h4>

      <p class="font-weight-normal">Contains the most important topics of Computer Science be it related to data 
      structures, computer networks, opearating system or be it realted to deploying the application of django, react
      on heroku , netlify, vercel or digital ocean will cover all step by step and I hope you find it useful.</p>
      <p class="font-weight-normal">by <a><strong>Prince</strong></a>, 18/06/2021</p>

      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to blog</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
</div>







{% endblock body %}