{% extends 'base.html' %}


{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}


<div class="container">
<!-- Section: Blog v.3 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Search Results</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">I am still searching for the recent</p>
    {% if allPosts|length < 1 %}
    <p> No Results Found </p>
    Your Search - <b>{{query}} </b> - did not match any documents.<br>
    Suggestions :<br>
    Try different Keywords.
    
    {% endif %}
    
    {% for post in allPosts %}
    <div class="container">

  <!-- Grid row -->
  <div class="row shadow-lg p-3 mb-5 bg-white rounded">

    <!-- Grid column -->
    <div class="col-lg-5 col-xl-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
        <img class="img-fluid" src="/media/{{post.thumbnail}}" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-xl-8">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
      <!-- Excerpt -->
      <p class="dark-grey-text">{{post.content|safe | truncatechars:500}}</p>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">{{post.author}}</a>, {{post.timeStamp}}</p>
      <!-- Read more button -->
      <a href="/blog/{{post.slug}}" class="btn btn-primary btn-md role="button" ">Continue reading</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  
  

</section>
<!-- Section: Blog v.3 -->
</div>

{% endfor %}

</div>
{% endblock body %}